/* Your styles here */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*not(:mario){
    color: #393d41;
}

body{
    margin:0;
    color: #393d41;
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.6;
}

header{
    background-color: black;
    height: 5rem;
}
header img{
    width: 6rem;
    object-fit: cover;
    margin-top: 1.5rem;
    margin-left: 2rem;
}

h1{
    color:#25a2c3;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 2rem;
    padding-top:8rem;
}

.background{
    background-size:cover;
    background-image:url(../images/banner.jpg);
    text-align:center;
    padding-bottom: 50px;
}  

.space{
    margin-top:3.5rem;
    margin-bottom:0.8rem;
}

button{
    background-color:#f04c2f;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    margin-top: 2rem;
    border:none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    border-radius: 8px;
    margin-bottom: 10rem;
}

h4{
    color:#25a2c3;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;

}

.blocchi{
    margin-top: 50px;
    box-sizing:border-box;
    text-align:center;
}

.blocco1{
    margin-top: 2.5rem;
    display: inline-block;
    vertical-align: top;
    padding-right: 1rem;
}

.blocco2{
    display: inline-block;
    padding-left: 3rem;
    text-align: left;
}

.blocco1 img{
    border-radius: 50%;
}

.mario{
    text-align: center;
    background-color: #f04c2f;
    color: white;
    margin-top: 4rem;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
    padding-top:5rem;
    line-height: 1.6;
}

.testimonianza{
    font-style: italic;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.name{
    font-size: 1.5rem;
}

.ruolo{
    font-size:1rem;
}

h2{
    color: white;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    padding-bottom: 1rem;
}

main div{
    text-align: center;
    vertical-align: top;
}
.correlati img{
    width: 100%;
    height: 70%;
}
.correlati{
    height: 380px;
    display: inline-block;
    border: 1px solid #dee1e3;
    margin-bottom: 8rem;
    margin-right:30px;
    padding-bottom: 40px;
    width: 27%;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h5{
    color:#25a2c3;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

footer{
    background-color: #25a2c3;
    color: white;
    padding-bottom: 4rem;
    text-align: center;
}

footer h3{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    padding-top: 3rem;
    padding-bottom:2rem;
}

footer div{
    display: inline-block;
    margin-inline: auto;
    text-align: left;
}
footer a{
    color: white;
    margin-bottom: 40px;
    text-decoration: underline;
}

hr{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 20%;  
}

i{
    background-color: white;
    color: white;
}

.copyright{
    font-size: 1rem;
}